* {
    font-family: 'Libre Baskerville', serif;
    overflow-x: hidden;
}

body {
    padding: 0px;
    margin: 0px;
}

.title a {
    background-color: #e982a880;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 15px;
}

h1, h2, h3, h4, p {
    margin: 0px;
    Padding: 0px;
}

.container {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 0px 32px;
    border-bottom: 1px solid #ebebeb;
    
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px 10%;
    align-items: center;
}

.img-container{
    position: relative;
    height: 390px;
    width: 350px;
}

.bg{
    background-color: #e982a880;
    height: 350px;
    width: 300px;
    position: absolute;
    z-index: -10;
    top: 20px;
    left: 20px;
}

main img {
    height: 350px;
    width: 300px;
    border-radius: 4px;
    
}

.title {
    width: 200px;
    Display: Flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    padding: 20px;
}

.about {
    width: 500px;
    color:rgb(90, 82, 82);
    font-size: 17px;
}

.about p {
    line-height: 30px;
}

.ab0 {
    color: #393646;
    text-shadow: 1px 1px 2px #ea8a8a;
    font-size: 45px;
    font-family: 'Neuton', serif;
    margin-bottom: 10px;
}

.icons {
    margin-top: 8px;
}

.icons i {
    margin-right: 8px;
    font-size: 28px;
}
.heading2{
padding: 50px 90px;
}

.cir1{
    background-color: rgb(215, 205, 205);
    height: 28px;
    width: 28px;
    border-radius: 50%;
    margin-left: 80px;
    
}
.cir2{
    background-color: red;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-left: 80px;
    
}


.timeline{
    height: 200px;
    width: auto;
    border-left: 2px solid rgb(191, 183, 183);
    margin-left: 93px;
}  
.content{
    height: 180px;
    width: 500px;
    padding: 10px 20px;
}
.timeline p{
    line-height: 30px;
    margin-top: 10px;
}

.content h3{
    font-family: 'Crete Round', serif;
}

.content p{
  color:rgb(90, 82, 82);
font-size: 17px;
}

.container2{
    margin: 2px 32px;
    border-bottom: 1px solid #ebebeb;
}



.container3{
    height: 100vh;
    width: auto;
    margin: 2px 32px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ebebeb;
}

.heading3{
    padding: 50px 90px;
    }

.title-image1{
    height: 250px;
    padding: 50px 30px 0px 30px;
}

.title-image2{
    height: 250px;
    width: 380px;
    padding: 50px 30px 0px 30px;
}
.img1{
    width: 800px;
}

.img2{
    width: 800px;
}
.title{
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    color:rgb(90, 82, 82);
}

.con1{
    color:rgb(90, 82, 82);
}

.container4{
    margin: 2px 32px;
    border-bottom: 1px solid #ebebeb;
}

.heading4{
    padding: 40px 90px;
}

.TS1{
    color:rgb(90, 82, 82);
    font-size: 17px;
    padding: 5px 0px 5px 20px;
}
.tech{
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;

}
.tech2{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0px 15px;
    gap: 50px;
}

.logo{
    height: 150px;
    width: 200px;
    object-fit:scale-down;
}
.logo1{
    height: 200px;
    width: 100px;
    object-fit:scale-down;
}
.container5{
    margin: 2px 32px;
    border-bottom: 1px solid #ebebeb;
}
.heading5{
    padding: 40px 90px;
}
.cont5 h3{
    font-weight:bolder;
    font-size: 100px;
    color: pink;
    padding: 10px 0px 10px 10px;
}
.p5{
    color:rgb(90, 82, 82);
    font-size: 13px;
    padding: 10px 0px 10px 10px;
}
.p6{
    color: black;
    font-size: small;
    font-weight: lighter;
    padding: 0px 0px 20px 10px;
}
.footer{
 padding: 30px 400px;

}