* {
    font-family: 'Libre Baskerville', serif;
    overflow-x: hidden;
}

body {
    padding: 0px;
    margin: 0px;
}

.title a {
    background-color: #e982a880;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 15px;

}

h1, h2, h3, h4, p {
    margin: 0px;
    Padding: 0px;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0px 32px;
    
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px 10%;
    align-items: center;
}

.img-container{
    position: relative;
    height: 390px;
    width: 350px;
}

.bg{
    background-color: #e982a880;
    height: 350px;
    width: 300px;
    position: absolute;
    z-index: -10;
    top: 20px;
    left: 20px;
}

main img {
    height: 350px;
    width: 300px;
    border-radius: 4px;
    
}

.title {
    width: 200px;
    Display: Flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    padding: 20px;
}

.about {
    width: 500px;
    color:rgb(90, 82, 82);
    font-size: 17px;
}

.about p {
    line-height: 30px;
}

.ab0 {
    color: #393646;
    text-shadow: 1px 1px 2px #ea8a8a;
    font-size: 45px;
    font-family: 'Neuton', serif;
    margin-bottom: 10px;
}

.icons {
    margin-top: 8px;
}

.icons i {
    margin-right: 8px;
    font-size: 28px;
}
.heading2{
padding: 50px 90px;
}

.heading2 h2{

}

.cir1{
    background-color: rgb(215, 205, 205);
    height: 28px;
    width: 28px;
    border-radius: 50%;
    margin-left: 80px;
    
}
.timeline{
    height: 200px;
    width:100vw;
    border-left: 2px solid rgb(191, 183, 183);
    margin-left: 93px;
}  
.content{
    height: 180px;
    width: 500px;
    padding: 10px 20px;
}
.timeline p{
    line-height: 30px;
    margin-top: 10px;
}

.content h3{
    font-family: 'Crete Round', serif;
}
.content p{
  
  color:rgb(90, 82, 82);
    font-size: 17px;
  
}
hr{
    height: 1px;
    background-color: #ebebeb;
    border: none;
}