* {
    font-family: 'Libre Baskerville', serif;
    overflow-x: hidden;
}

body {
    padding: 0px;
    margin: 0px;
}

.title a {
    background-color: #e7769f;
    border-radius: 4px;
    padding: 4px 8px;

}

h1, h2, h3, h4, p {
    margin: 0px;
    Padding: 0px;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px 10%;
    align-items: center;
}

.img-container{
    position: relative;
    height: 390px;
    width: 350px;
}

.bg{
    background-color: #e7769f80;
    height: 350px;
    width: 300px;
    position: absolute;
    z-index: -10;
    top: 20px;
    left: 20px;
}

main img {
    height: 350px;
    width: 300px;
    border-radius: 4px;
    
}

.title {
    width: 200px;
    Display: Flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    padding: 20px;
    font-family: 'Caveat', cursive;
}

.about {
    width: 500px;
    font-family: 'Caveat', cursive;
}

.about p {
    line-height: 30px;
}

.ab0 {
    color: #e7769f;
    text-shadow: 1px 1px 2px #000000;
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 10px;
}

.icons {
    margin-top: 8px;
}

.icons i {
    margin-right: 8px;
    font-size: 24px;
}